<% for(var i = 0; i<users.length; i++){%>
<tr>
    <td><%= i+1%></td>
    <td><%= data[i].name%></td>
    <td><%= data[i].email%></td>
    <td><%= data[i].gender%></td>
    <td><%= data[i].status%></td>
</tr>
<%}%>